<p>My Account info</p>
@if(userData){
  <div *ngFor="let user of userData; let i = index">
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>ID:</strong> {{ user._id }}</p>

     
    @if(user.location){
      <p><strong>Locations:</strong></p>
      <div *ngFor="let loc of user.location.location">
        <p>- {{ loc.label }}: {{ loc.address }}</p>
      </div>
    }
    
    <ng-template #noLocations><p>— No saved locations</p></ng-template>
   

    <hr />
  </div>
 

}
<h3>my orders:</h3>
<app-order></app-order>
